# Here you can cutomize your variables.

# docker compose -- https://docs.docker.com/compose/env-file/
COMPOSE_PROJECT_NAME=example8
COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml:docker-compose.dev.proxy.yml
# with profiling
#COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml:docker-compose.dev.proxy.yml:docker-compose.dev.profile.yml

# ENV
LDEV_ENVIRONMENT=local
LDEV_PRIMARY_DOMAIN=example8
LDEV_BASE_DOMAIN=localhost

# drupal
LDEV_DATABASE_NAME=drupal
LDEV_DATABASE_USER=drupal
LDEV_DATABASE_PASSWORD=drupal

# ldev scripts go in scripts/. Feel free to add your own scripts for convenience
# and as an example for others, e.g. pull_jane
LDEV_BUILD_SCRIPT_BASENAME=build
LDEV_PULL_SCRIPT_BASENAME=pull
LDEV_XDEBUG_SCRIPT_BASENAME=xdebug

# Pull script
# A place for database dumps.
LDEV_PULL_CACHEDIR=/tmp
# Filename prefix for this project.
LDEV_PULL_PREFIX=example8
