# Here you can cutomize your variables.

COMPOSE_PROJECT_NAME=example8

# ENV
ENVIRONMENT=local
PRIMARY_DOMAIN=example8
BASE_DOMAIN=localhost

# drupal
DATABASE_NAME=drupal
DATABASE_USER=drupal
DATABASE_PASSWORD=drupal

# docker compose
COMPOSE_FILE=docker-compose.yml
# with profiling
#COMPOSE_FILE=docker-compose.yml:docker-compose.profile.yml

# Pull script
# A place for database dumps.
PULL_CACHEDIR=/tmp
# Filename prefix for this project.
PULL_PREFIX=example8
